{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Question(s)</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for question in questions %}
					<tr>
						<td>{{ question.id }}</td>
						<td>{{ question.title }}</td>
						<td>
							<a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
							<a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% block footer %}
		{% include "component/footer.html.twig" %}
	{% endblock %}
{% endblock %}
