{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Créer une nouvelle question</h2>

		{{ include('question/_form.html.twig') }}

		<a href="{{ path('app_question_index') }}">back to list</a>
	</div>
{% endblock %}
