{% extends 'base.html.twig' %}

{% block title %}
	Timer Quiz
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="display-5">Vous avez choisi la catégorie:
			{{ category.name }}
		</h2>
		<div class="question-container">
			{% for question in questions %}
				<h2>
					<a href="{{ path('event_question', {'id': question.id}) }}">
						{{ question.title }}
					</a>
				</h2>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
