{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	<div class="body-container">
		<div class="homepage-container">
			<h1 class="display-4">
				<span>BIENVENUE SUR</span>
				TIMER QUIZ
				<span>!</span>
			</h1>
			<h2 class="mb-4">Connectez vous ou incrivez vous pour commencer à jouer</h2>
			<div class="homepage-button">
				<a class="btn" href="{{ path('app_login')}}">Connexion</a>
				<a class="btn" href="{{ path('app_register')}}">Inscription</a>
			</div>
		</div>
	</div>
{% endblock %}
