{% extends 'base.html.twig' %}

{% block title %}
	Timer Quiz
{% endblock %}

{% block body %}
	<div class="container">
		<div class="question-container">
			<h1 class="timer display-1"></h1>
			<h2 class="quiz-question">
				{{ question.title }}
			</h2>
			<div class="responses-container">
				{% for response in responses %}
					<button class="btn btn-outline-light">
						{{ response.title }}
					</button>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<script>
let count = 11
const h1 = document.querySelector(".timer");
setTimeout(() => {
document.location.href = "/homepage";
}, 11000);
let interval = setInterval(() => {
h1.innerHTML = -- count;
if (count === 0) 
clearInterval(interval);
}, 1000);
</script>{% endblock %}
