{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Créer une nouvelle catégorie</h2>

		{{ include('category/_form.html.twig') }}

		<a href="{{ path('app_category_index') }}">back to list</a>
	</div>
{% endblock %}
