* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/09/10/38/question-mark-1084522_960_720.jpg);
    background-size: cover;
    transition: ease-in-out;
}

#swup {
    width: 100vw;
    height: 100vh;
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-container {
    width: 100%;
    min-height: 70%;
    background-color: rgba(0, 30, 40, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 80%;
    min-height: 100%;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(0, 30, 40, .9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    gap: 15px;
}

.page-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 30, 40, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

img {
    object-fit: cover !important;
    height: 150px !important;
}

h1 {
    font-family: 'Rubik Glitch', cursive;
    color: white;
    margin: 0;
}

h2 {
    padding: 20px;
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
}

.h2-page {
    font-size: 150px;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
}

h5 {
    color: rgb(21, 21, 20);
}

p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    margin: 0 !important;
}

th,
td {
    color: antiquewhite;
}

.question-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.responses-container {
    width: 70%;
    height: 35%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    visibility: hidden;
}

button {
    width: 40%;
    font-family: 'Rubik Moonrocks', cursive !important;
}

.btn {
    border-radius: 10px;
    background-color: #41C2FA;
}

nav {
    background-color: #001E28;
    position: fixed !important;
    height: 60px;
    width: 100%;
    z-index: 10;
}

.navbar-nav {
    align-items: center;
}

.nav-logo {
    font-family: 'Rubik Glitch', cursive !important;
    font-size: 28px !important;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.nav-logo:hover {
    transform: rotate(360deg);
}

.nav-link {
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 14px;
}

span {
    font-family: 'Rubik Moonrocks', cursive;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #001E28;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.homepage-button {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

a {
    font-family: 'Rubik Moonrocks', cursive !important;
    color: white !important;
}

form {
    width: 35% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
}

label {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
}

input {
    margin-bottom: 20px;
}

.quiz-question {
    font-family: 'Rubik Dirt', cursive;
    font-size: 42px;
    text-align: center;
}

.btn-response{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    font-size: 24px;
}

.account-buttons {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.transition-fade {
    opacity: 1;
    transition: 1.5s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.score {
    margin-left: 20px!important;
    font-size: 24px;
}

.timer {
    font-size: 120px;
    visibility: hidden;
}
