* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/09/10/38/question-mark-1084522_960_720.jpg);
    background-size: cover;
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-container {
    width: 100%;
    min-height: 70%;
    background-color: rgba(0, 30, 40, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 80%;
    min-height: 100%;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(0, 30, 40, .9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    gap: 15px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

img {
    object-fit: cover !important;
    height: 150px !important;
}

h1 {
    font-family: 'Rubik Glitch', cursive;
    color: white;
}

h2 {
    padding: 20px;
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
}

h3 {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
}

h5 {
    color: rgb(21, 21, 20);
}

p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    margin: 0!important;
}

th,
td {
    color: antiquewhite;
}

.question-container {
    width: 100%;
    min-height: 20%;
    background-color: rgb(36, 30, 30);
}

.responses-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    width: 40%;
    font-family: 'Rubik Moonrocks', cursive!important;
}

nav {
    background-color: #001E28;
    position: fixed!important;
    height: 60px;
    width: 100%;
}

.navbar-nav {
    align-items: center;
}

.nav-logo {
    font-family: 'Rubik Glitch', cursive !important;
    font-size: 28px !important;
}

.nav-link {
    color: white;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 14px;
}

span {
    font-family: 'Rubik Moonrocks', cursive;
}

.homepage-button {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

a {
    font-family: 'Rubik Moonrocks', cursive!important;
    color: white!important;
}

.btn {
    border-radius: 50px;
    background-color: #41C2FA;
}

form {
    width: 35%!important;
    display: flex!important;
    justify-content: center!important;
    flex-direction: column!important;
    align-items: center!important;
}

label {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
}

input {
    margin-bottom: 20px;
}

.quiz-question {
    font-family: 'Rubik Dirt', cursive;
}

.account-buttons {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}
