{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Créer une nouvelle réponse</h2>

		{{ include('response/_form.html.twig') }}

		<a href="{{ path('app_response_index') }}">back to list</a>
	</div>
	{% block footer %}
		{% include "component/footer.html.twig" %}
	{% endblock %}
{% endblock %}
